@using iosu.Enums
@model iosu.Models.View.PartnerDetailsViewModel
@{
    ViewBag.Title = String.Format("Details {0}", Model.Partner.Name);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Partner.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Partner.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Partner.PartnerType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Partner.PartnerType)
        </dd>
    </dl>
</div>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Partner.Contact.AgentFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Partner.Contact.AgentFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Partner.Contact.Adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Partner.Contact.Adress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Partner.Contact.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Partner.Contact.PhoneNumber)
        </dd>
    </dl>
</div>
<div class="row thumbnail">
    @{
        if (Model.Partner.PartnerType == PartnerType.Manufacturer)
        {
            @Html.ActionLink("Create Product", "Create", "Products", new { partnerId = Model.Partner.Id }, new { @class = "btn btn-default" })

            if (Model.Products != null && Model.Products.Any())
            {
                <h3>Products:</h3>
                <div class="row">
                    <div class="col-md-4">
                        <p>Product name</p>
                    </div>
                    <div class="col-md-4">
                        <p>Amount</p>
                    </div>
                    <div class="col-md-4">
                        <p>Unit price</p>
                    </div>
                </div>
                foreach (var product in Model.Products)
                {
                    <div class="row">
                        <div class="col-md-4">
                            <p>@product.Name</p>
                        </div>
                        <div class="col-md-4">
                            <p>@product.Amount</p>
                        </div>
                        <div class="col-md-4">
                            <p>@product.UnitPrice</p>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="row text-center">
                    <h2>No Products</h2>
                </div>
            }
        }
    }
</div>
<div class="row thumbnail">
    @Html.ActionLink("Create Order", "Create", "Orders", new { partnerId = Model.Partner.Id }, new { @class = "btn btn-default" })
    @{
        if (!Model.Partner.ArchiveTableName.IsEmpty())
        {
            @Html.ActionLink("Restore Orders from archive", "RestoreFromArchive", "Orders", new { partnerId = Model.Partner.Id }, new { @class = "btn btn-default" })
            @Html.ActionLink("View archive", "ViewArchive", "Orders", new { archiveTableName = Model.Partner.ArchiveTableName }, new { @class = "btn btn-default" })
        }
        if (Model.Orders.Any())
        {
            @Html.ActionLink("Send to archive all orders", "SendToArchive", "Orders", new { partnerId = Model.Partner.Id }, new { @class = "btn btn-default" })
            <h3>Orders:</h3>

            <div class="row">
                <div class="col-md-4">
                    <p>Product name</p>
                </div>
                <div class="col-md-4">
                    <p>Amount</p>
                </div>
                <div class="col-md-4">
                    <p>Unit price</p>
                </div>
            </div>
            foreach (var order in Model.Orders)
            {
                <div class="row">
                    <div class="col-md-4">
                        <p>@order.Product.Name</p>
                    </div>
                    <div class="col-md-4">
                        <p>@order.Amount</p>
                    </div>
                    <div class="col-md-4">
                        <p>@order.Price</p>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="row text-center">
                <h2>No Orders</h2>
            </div>
        }
    }
</div>
<div class="row thumbnail text-center" style="margin-left: 0px; margin-bottom: 5px;">
    @using (Html.BeginForm("ChangePriceForProducts", "Partners"))
    {
        <div class="row">
            <label class="col-md-2"> Change Price:</label>
            <label class="col-md-2">increased by </label>
            <div class="col-md-2">
                @Html.Editor("percent", "percent", "percent")
            </div>
            <label class="col-md-2">  percent</label>
        </div>
        <div class="row">
            <label class="col-md-2"></label>
            <label class="col-md-2">reduced by </label>
            <div class="col-md-2">
                <div id="to" class="">
                    @Html.Editor("reduc", "reduc", "reduc")
                </div>
            </div>
            <label class="col-md-2">  percent</label>
        </div>
    <input data-val="true" id="Partner_Id" name="Partner_Id" type="hidden" value="@Model.Partner.Id">
        <input type="submit" class="col-md-2 btn btn-default" value="Change" />
    }
</div>