@model IEnumerable<iosu.Entities.Partner>

@{
    ViewBag.Title = "Partners";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div style="margin: 10px;">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
    </div>
</div>

@if (Model.Any())
{
    <div class="row jumbotron list-group">
        <div class="row list-group-item">
            <div class="col-md-3">
                <label>@Html.DisplayNameFor(model => model.Name)</label>
            </div>
            <div class="col-md-3">
                <label>@Html.DisplayNameFor(model => model.PartnerType)</label>
            </div>
            <div class="col-md-3">
                <label>@Html.DisplayNameFor(model => model.Contact.PhoneNumber)</label>
            </div>
            <div class="col-md-3">

            </div>
        </div>
        <hr />
        @foreach (var item in Model)
        {
            <div class="row list-group-item" style="font-size: 14px;">
                <div class="col-md-3">
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div class="col-md-3">
                    @Html.DisplayFor(modelItem => item.PartnerType)
                </div>
                <div class="col-md-3">
                    @Html.DisplayFor(modelItem => item.Contact.PhoneNumber)
                </div>
                <div class="col-md-3">
                    <div class="row">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="row jumbotron text-center">
        <h1>No Data</h1>
    </div>
}
