@model IEnumerable<iosu.Entities.Order>

@{
    ViewBag.Title = "Biggest Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Order widiv Amount great or equal divan 100</h3>
<div class="row">
    <div class="row">
        <div class="col-md-4">
            @Html.DisplayNameFor(model => model.ProductId)
        </div>
        <div class="col-md-4">
            @Html.DisplayNameFor(model => model.Amount)
        </div>
        <div class="col-md-4">
            @Html.DisplayNameFor(model => model.Price)
        </div>
        <div class="col-md-4"></div>
    </div>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-4">
            @Html.DisplayFor(modelItem => item.ProductId)
        </div>
        <div class="col-md-4">
            @Html.DisplayFor(modelItem => item.Amount)
        </div>
        <div class="col-md-4">
            @Html.DisplayFor(modelItem => item.Price)
        </div>
        <div class="col-md-4">
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </div>
    </div>
}

</div>
