@using iosu.Entities
@model iosu.Entities.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="row">
    <h4>Order</h4>
    <div class="row">
        <div class="col-md-3">
            @if (Model.OrderType == OrderType.Buy)
            {
                <label class="text-left">
                    Manufacturer name:
                </label>
            }
            else
            {
                <label class="text-left">
                    Customer name:
                </label>
            }
        </div>

        <div class="col-md-3">
            @Html.DisplayFor(model => model.Partner.Name)
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <label>Product name</label>
        </div>

        <div class="col-md-3">
            @Html.DisplayFor(model => model.Product.Name)
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            @Html.LabelFor(model => model.Amount)
        </div>

        <div class="col-md-3">
            @Html.DisplayFor(model => model.Amount)
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            @Html.LabelFor(model => model.Price)
        </div>

        <div class="col-md-3">
            @Html.DisplayFor(model => model.Price)
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", null, new {@class = "btn btn-default"}) |
    @Html.ActionLink("Print", "Print", new { id = Model.Id }, new { @class = "btn btn-default" })
</p>
