@model IEnumerable<iosu.Entities.Order>

@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function() {
        $('[name="from"]').datepicker();
        $('[name="to"]').datepicker();
    });
</script>
<div class="row">
    <p class="col-md-1" style="margin-left: 10px; margin-top: 10px;">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
    </p>
    <p class="col-md-1" style="margin-left: 20px; margin-top: 10px;">
        @Html.ActionLink("Biggest orders", "BiggestOrders", null, new { @class = "btn btn-default" })
    </p>
    <p class="col-md-1" style="margin-left: 30px; margin-top: 10px;">
        @Html.ActionLink("Partners Report", "PartnersReport", null, new { @class = "btn btn-default" })
    </p>
    <p class="col-md-1" style="margin-left: 40px; margin-top: 10px;">
        @Html.ActionLink("Salers Dynamics", "SelersDynamics", null, new { @class = "btn btn-default" })
    </p>
</div>
<div class="row thumbnail text-center" style="margin-left: 0px; margin-bottom: 5px;">
    @using (Html.BeginForm("ReleasedInPeriod", "Orders"))
    {
        <label class="col-md-3">Orders in period. From:</label>
        <div class="col-md-2">
            @Html.Editor("from", "from", "from")
        </div>
        <label class="col-md-2"> To:</label>
        <div class="col-md-3">
            <div id="to" class="">
                @Html.Editor("to", "to", "to")
            </div>
        </div>
        <input type="submit" class="col-md-2 btn btn-default" value="Get report" />
    }
</div>
<div class="row thumbnail text-center" style="margin-left: 0px; margin-bottom: 5px;">
    @using (Html.BeginForm("SearchOrdersByProductName", "Orders"))
    {
        <label class="col-md-2">Product Name part:</label>
        <div class="col-md-3">
            @Html.Editor("name", "name", "name")
        </div>
        <input type="submit" class="col-md-3 btn btn-default" value="Get orders by product name" />
    }
</div>
<div class="row thumbnail text-center" style="margin-left: 0px; margin-bottom: 5px;">
    @using (Html.BeginForm("SearchOrdersByPartnerName", "Orders"))
    {
        <label class="col-md-2">Partner Name part:</label>
        <div class="col-md-3">
            @Html.Editor("partnerName", "partnerName", "partnerName")
        </div>
        <input type="submit" class="col-md-3 btn btn-default" value="Get orders by product name" />
    }
</div>

<div class="row jumbotron">
    <div class="row" style="font-style: oblique; font-size: 20px;">
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.Partner.Name)
        </div>
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.Product.Name)
        </div>
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.Amount)
        </div>
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.Price)
        </div>
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.OrderType)
        </div>
        <div class="col-md-2" style="width: 100%"></div>
    </div>

    @foreach (var item in Model)
    {
        <div class="row" style="min-height: 30px; align-items: center;">
            <div class="col-md-2 thumbnail" style="font-size: 14px;  height: 40px; text-align: center;">
                @Html.DisplayFor(modelItem => item.Partner.Name)
            </div>
            <div class="col-md-2 thumbnail" style="font-size: 14px;  height: 40px; text-align: center;">
                @Html.DisplayFor(modelItem => item.Product.Name)
            </div>
            <div class="col-md-2 thumbnail" style="font-size: 14px;  height: 40px; text-align: center;">
                @Html.DisplayFor(modelItem => item.Amount)
            </div>
            <div class="col-md-2 thumbnail" style="font-size: 14px;  height: 40px; text-align: center;">
                @Html.DisplayFor(modelItem => item.Price)
            </div>
            <div class="col-md-2 thumbnail" style="font-size: 14px;  height: 40px; text-align: center;">
                @Html.DisplayFor(modelItem => item.OrderType)
            </div>
            <div class="col-md-2 thumbnail" style="font-size: 14px;  height: 40px; text-align: center;">
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-default", style = "font-size: 14px;  height: 100%; text-align: center;" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-default", style = "font-size: 14px;  height: 100%; text-align: center;" })
            </div>
        </div>
    }

</div>
