@model IEnumerable<iosu.Entities.Product>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div style='margin: 10px;'>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
    </div>
    <div style="margin: 10px;">
        @Html.ActionLink("Report", "Report", null, new { @class = "btn btn-default" })
    </div>
</div>

<div class="row thumbnail text-center" style="margin-left: 0px; margin-bottom: 5px;">
    @using (Html.BeginForm("Hn9", "Products"))
    {
        <label class="col-md-3">Column name: </label>
        <div class="col-md-2">
            @Html.Editor("hn9", "hn9", "hn9")
        </div>
        <input type="submit" class="col-md-2 btn btn-default" value="Add column" />
    }
</div>


<div class="row jumbotron">
    @if (Model.Any())
    {
        <div class="row">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Name)
            </div>
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Description)
            </div>
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.UnitPrice)
            </div>
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Amount)
            </div>
            <div class="col-md-3"></div>
        </div>

        foreach (var item in Model)
        {
            <div class="row" style="font-size: 14px;">
                <div class="col-md-2">
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div class="col-md-2">
                    @Html.DisplayFor(modelItem => item.Description)
                </div>
                <div class="col-md-2">
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </div>
                <div class="col-md-2">
                    @Html.DisplayFor(modelItem => item.Amount)
                </div>
                <div class="col-md-3">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-default" })
                </div>
            </div>
        }
    }
    else
    {
        <h1>No Data</h1>
    }

</div>
